body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #3498db; /* Blue */
}

header {
    background-color: #ffc0cb; /* Light Pink */
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: #f8f8f8;
}

section {
    margin-bottom: 20px;
}

.section1 {
    background-color: #ffd700; /* Gold */
}

.section2 {
    background-color: #87ceeb; /* SkyBlue */
}

.section3 {
    background-color: #90ee90; /* LightGreen */
}

textarea.form-control.jTextarea {
    background-color: #e6e6e6; /* Lighter Gray */
    color: #333; /* Dark Gray Text */
}

button.btn.btn-primary.btn-outline.btn-md {
    background-color: #4caf50; /* Green */
    color: #fff; /* White Text */
}

footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}